<ion-content>
  <div class="content">
    <ion-row>
      <ion-col size="12">
        <app-language-creator (onLanguageChange)="language = $event"></app-language-creator>
      </ion-col>
    </ion-row>
  
    <ion-row>
      <ion-col size="12">
        <form [formGroup]="form">
          <ion-item>
            <ion-label class="form-label" position="floating">Nivel de cerradura de Kleene:</ion-label>
            <ion-input
            type="number"
            formControlName="level"
            (keyup.enter)="CalculateKleeneLock()"
            placeholder="Ingrese el nivel que desea conocer"></ion-input>
          </ion-item>
          <ion-item *ngIf="(form.controls['level']?.dirty) && form.controls['level']?.errors" lines="none">
            <ion-text class="form-error" color="danger" *ngIf="form.controls['level'].errors && form.controls['level'].errors['required']">
              Este campo es requerido
            </ion-text>
            <ion-text class="form-error" color="danger" *ngIf="form.controls['level'].errors && form.controls['level'].errors['pattern']">
              Solo números
            </ion-text>
          </ion-item>
        </form>
      </ion-col>
  
      <ion-col size="12">
        <button class="btn btn-success btn-block" [disabled]="form.invalid" (click)="CalculateKleeneLock()">
          Calcular
        </button>
      </ion-col>
    </ion-row>
  
    <ion-row>
      <ion-col size="12">
        <label class="mb-2">Cerradura de Kleene</label>
        <div class="language" *ngIf="!!kleeneLock.length">
          <div class="word justify-content-center" *ngFor="let word of kleeneLock; let i = index">
            {{word}}
          </div>
        </div>
        <div class="language" *ngIf="!kleeneLock.length">
          <div class="word justify-content-center">
            <span>&lambda;</span>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
