<div class="d-flex h-100 align-items-center" style="z-index: 1;">
  <div class="title-with-menu-container">
    <ion-icon name="menu-outline" size="large" (click)="ToggleMenu()"></ion-icon>
    <div class="title-with-menu">
      {{currentPage.title}}
    </div>
  </div>
</div>

<div class="side-menu" [ngClass]="{'open': isVisible}">
  <div class="side-menu-title-container">
    <ion-icon name="arrow-back" (click)="ToggleMenu()"></ion-icon>
    <span class="side-menu-title">Menu</span>
  </div>

  <div class="d-flex align-items-center justify-content-center">
    <img class="profile-img" src="assets/img/automata.jpg">
  </div>

  <div class="text-center" style="font-size: 2rem; font-weight: 700; color: white; margin-bottom: .4rem;">
    Automatas
  </div>
  <div class="text-center" style="font-size: 1rem; font-weight: 500; color: white; padding-bottom: .5rem; border-bottom: 3px solid #eee;">
    Made by Antonio Romano
  </div>

  <div class="side-menu-item" *ngFor="let page of pages" (click)="GoToPage(page)">
    <div class="icon-container">
      <ion-icon [name]="page.icon"></ion-icon>
    </div>
    <span>{{page.title}}</span>
  </div>
</div>