.side-menu {
    position: fixed;
    top: 0;
    left: -70vw;
    height: 100vh;
    width: 70vw;
    max-width: 100%;
    background-color: #1a1a1a;
    z-index: 9;
    transition: all .4s ease-out;
}
.open {
    left: 0;
}

.side-menu-title-container {
    display: flex;
    align-items: center;
    padding: 0 .6rem;
    color: white;
    height: 55px;
    ion-icon {
        font-size: 2rem;
    }
}
.side-menu-title {
    color: white;
    flex-grow: 1;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 600;
}

.profile-img {
    object-fit: cover;
    object-position: center;
    border-radius: 20vh;
    height: 20vh;
    width: 20vh;
    border: 4px solid white;
    margin: .4rem 0;
}

.side-menu-item {
    font-size: 1.25rem;
    color: white;
    display: flex;
    width: 100%;
    padding: .5rem .8rem;
    align-items: center;
    border-bottom: 1px solid #eee;

    .icon-container {
        font-size: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-basis: 3rem;
    }

    span {
        max-width: calc(100% - 3rem);
        white-space: wrap;
    }
}