<div>
  <form [formGroup]="form">
    <ion-item>
      <ion-label class="form-label" position="floating">Palabra nueva:</ion-label>
      <ion-input type="text" formControlName="word" (keyup.enter)="AddWordToLanguage()"
        placeholder="Ingrese una palabra"></ion-input>
    </ion-item>
    <ion-item *ngIf="(form.controls['word']?.dirty) && !!form.controls['word']?.errors" lines="none">
      <ion-text class="form-error" color="danger"
        *ngIf="form.controls['word'].errors && form.controls['word'].errors['required']">
        Este campo es requerido
      </ion-text>
      <ion-text class="form-error" color="danger"
        *ngIf="form.controls['word'].errors && form.controls['word'].errors['minlength']">
        Mínimo 1 caracter
      </ion-text>
    </ion-item>
  </form>

  <div class="mt-3">
    <div class="d-flex justify-content-end">
      <button class="btn btn-success btn-block" (click)="AddWordToLanguage()">
        Agregar
      </button>
    </div>
  </div>

  <div class="mt-3">
    <label class="subtitle">Palabras</label>
    <div class="language" *ngIf="!!language.length">
      <div class="word" *ngFor="let word of language; let i = index">
        <span style="margin-right: .2rem;">{{word}}</span>
        <div class="close" (click)="DeleteWord(i)">
          <span>&times;</span>
        </div>
      </div>
    </div>
    <div class="language" *ngIf="!language.length">
      <div class="word justify-content-center">
        <span>&lambda;</span>
      </div>
    </div>
  </div>
</div>